.FormContainer{  
  height: 2000px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  min-width: max(30%, 360px);
}

.GIForm, .WorkExpForm, .EduForm, .SkillsForm {
  border: 1px solid darkgrey;
  background-color: #161a1b;
  font-family: Courier;
  padding: 1rem;
}

hr{
  margin-bottom: 1rem;
}
input, textarea{
  padding-left: 0.5rem;
  width: 250px;
}
.GIInputHolders{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.GIInputAreaHolders{
  display: flex;
  justify-content: space-between;  
  margin-top: 1rem;
}
button{
  width: 100%;
}


